.news {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    background-color: #fff;
}

.news-title {
    border-bottom: 1px solid #e5e5e5;
    color: #666;
    font-size: 0.7rem;
    margin: 10px 0;
    padding-bottom: 6px;
}

.news-img {
    width: 100%;
    margin-bottom: 0;
}

.news-images {
    vertical-align: middle;
}

.news-titles {
    color: #595757;
    font-size: 1rem;
    margin-bottom: 0;
}

.news-desc {
    font-size: 0.7rem;
    color: #595757;
}