.title1 {
    display: flex;
    text-align: center;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}

.title-dc-dc {
    text-align: left;
}

.title-dc {
    font-size: 0.7rem;
    color: #333;
    display: block;
    line-height: 20px;
}

.title-new {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}

.title-dc1 {
    font-size: 0.5rem;
    color: #999;
    display: block;
    line-height: 20px;
}

.more {
    display: block;
    font-size: 0.7rem;
    color: #999;
    line-height: 20px;
}

.more-r {
    display: block;
    font-size: 0.5rem;
    color: #999;
    line-height: 20px;
}

.more1 {
    flex: 18;
    text-align: center;
    color: #999;
    font-size: 0.5rem;
}

.news-imgs {
    width: 410px;
}

.index-tp {
    max-width: 850px;
    margin: 0 auto;
}

.index-mc {
    display: inline-block;
    position: relative;
    width: 273px;
    height: 186px;
    margin: 5px;
}

.index-mc:hover .index-tp-ms {
    background-color: rgba(30, 30, 30, 0.9)
}

.title-more {
    flex: 3;
    text-align: right;
}

.index-tp-ms {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
    background-color: rgba(30, 30, 30, 0.58)
}

.index-tp-tp {
    width: 273px;
    height: 186px;
}

#course {
    margin-top: 30px;
}

#news div img {
    margin: 5px;
}

.index-u {
    position: fixed;
    width: 180px;
    right: 100px;
    top: 200px;
    z-index: 4;
    border: 1px solid #e5e5e5;
    text-align: left;
}

.index-ul {
    list-style: none;
    margin: 0;
}

.index-li {
    background-color: #e8e8e8;
    margin: 0;
    padding: 10px 0;
    font-size: 0.9rem;
    padding-left: 52px;
    color: #595757;
}

.index-lis {
    background-color: #fbfbfb;
    border-top: 1px solid #e5e5e5;
    margin: 0;
    padding: 10px 0;
    padding-left: 52px;
    color: #333;
    font-size: 0.9rem;
}