#main {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.title1 {
    display: flex;
    text-align: center;
    width: 100%;
    max-width: 870px;
    margin: 0 auto;
}

.title-dc-dc {
    text-align: left;
    font-weight: bold;
}

.title-dc {
    font-size: 1rem;
    color: #333;
    display: block;
    line-height: 20px;
}

.title-new {
    width: 100%;
    max-width: 870px;
    margin: 0 auto;
}

.title-dc1 {
    font-size: 0.7rem;
    color: #999;
    display: block;
    line-height: 20px;
}

.more {
    display: block;
    font-size: 0.9rem;
    color: #999;
    line-height: 20px;
}

.more-r {
    display: block;
    font-size: 0.7rem;
    color: #999;
    line-height: 20px;
}

.more1 {
    flex: 18;
    text-align: center;
    color: #999;
    font-size: 0.5rem;
}

.news-imgs {
    width: 410px;
}

.index-tp {
    max-width: 870px;
    margin: 0 auto;
}

.index-mc {
    display: inline-block;
    position: relative;
    width: 32%;
    margin: 5px;
}

.index-mc:hover .index-tp-ms {
    background: url(./bg_transparent_on.png);
}

.title-more {
    flex: 3;
    text-align: right;
}

.index-tp-ms {
    color: white;
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    font-size: 0.96rem;
    background: url(./bg_transparent.png);
    padding-top: 7px;
    padding-bottom: 7px
}

.index-tp-tp {
    width: 100%
}

#course {
    margin-top: 30px;
}

#liuxue {
    margin-top: 30px;
}

#news {
    margin-top: 30px;
}

#news div img {
    width: 100%;
}

.news-img-img {
    width: 48.5%;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
    min-width: 262px;
    position: relative;
}

.index-u {
    position: absolute;
    width: 202px;
    right: 10px;
    border: 1px solid #e5e5e5;
}

.index-ul {
    list-style: none;
    margin: 0;
}

.index-u-flex1 {
    font-size: 0.7rem;
    color: #999;
    padding-top: 3px;
    margin-left: 50px;
}

.index-u-flex {
    font-size: 0.7rem;
    color: #999;
    padding-top: 3px;
    margin-left: 22px;
}

.index-li {
    background-color: #e8e8e8;
    margin: 0;
    padding: 10px;
    font-size: 0.9rem;
    color: #595757;
    justify-content: flex-start;
    display: flex;
}

.index-lis {
    background-color: #fbfbfb;
    border-top: 1px solid #e5e5e5;
    margin: 0;
    padding: 10px;
    color: #333;
    font-size: 0.9rem;
    justify-content: flex-start;
    display: flex;
}

.index-lis-img {
    vertical-align: bottom;
    width: 20px;
    height: 20px;
}

.title-new-tilte {
    color: #fff;
    font-size: 0.9rem;
    position: absolute;
    bottom: 5px;
    left: 0;
    background: url(./bg_transparent.png);
    text-align: center;
    font-size: 0.96rem;
    width: 100%;
    padding: 8px 0;
}

.news-img-img:hover .title-new-tilte {
    background: url(./bg_transparent_on.png);
}