.title1 {
    display: flex;
    text-align: center;
    width: 100%;
}

.more {
    flex: 3;
    text-align: right;
}

.more1 {
    flex: 18;
    text-align: center;
}

.index-tp {
    max-width: 850px;
    margin: 0 auto;
}

.index-mc {
    display: inline-block;
    position: relative;
    width: 273px;
    height: 186px;
    margin: 5px;
}

.index-tp-ms {
    color: white;
    position: absolute;
    bottom: 0;
}

.index-tp-tp {
    width: 273px;
    height: 186px;
}

#course {
    margin-top: 30px;
}

#news div img {
    margin: 5px;
}