.liuxue-daohang {
    border-bottom: 1px solid #f9f9f9;
    background: #ebece7;
    margin: 0 auto;
    max-width: 1200px;
    height: 30px;
}

.liuxue-daohang1 {
    color: #666;
    max-width: 1200px;
    float: left;
    font-size: 0.7rem;
}

.liuxue-daohang2 {
    margin-right: 5px;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 3px;
}

.liuxues {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.liuxue {
    width: 850px;
}

.liuxue-img {
    width: 850px;
}

.liuxue-h3 {
    color: #595757;
    font-weight: bold;
}

.liuxue-title {
    padding: 0px 0;
    width: 850px;
    border-bottom: 1px solid #e5e5e5;
    text-align: left;
}

.liuxue-neirong {
    color: #5f5f5f;
    line-height: 2.8em;
    font-size: 0.9rem;
    display: inline-block;
    text-align: left;
}

.liuxue-xin {
    font-size: 1.2rem;
    color: #ffb700;
    margin-left: 10px;
    width: 850px;
    text-align: left;
    line-height: 2.5em;
}

.liuxue-biaoti {
    font-size: 1.2rem;
    color: #595757;
    margin-left: 10px;
    width: 850px;
    text-align: left;
    line-height: 2.5em;
}

.liuxue-biaoti1 {
    font-size: 0.9rem;
    color: #333;
    margin-left: 10px;
    width: 850px;
    text-align: left;
    line-height: 2.5em;
}

.liuxue-bottom {
    margin-bottom: 50px;
}

.liuxue-biaoti-zhu {
    font-size: 0.9rem;
    color: #ffb700;
    margin-left: 10px;
    width: 850px;
    text-align: left;
    line-height: 2.5em;
}

.liuxue-u {
    position: fixed;
    width: 150px;
    right: 100px;
    top: 200px;
    z-index: 4;
    border: 1px solid #e5e5e5;
    text-align: left;
}

.liuxue-ul {
    list-style: none;
    margin: 0;
}

.liuxue-li {
    background-color: #e8e8e8;
    margin: 0;
    padding: 10px 10px;
    font-size: 0.9rem;
}

.liuxue-lis {
    background-color: #fbfbfb;
    border-top: 1px solid #e5e5e5;
    margin: 0;
    padding: 10px 0;
    color: #333;
    padding-left: 42px;
    font-size: 0.9rem;
}