.liuxue-u {
    position: fixed;
    width: 150px;
    left: 80%;
    top: 182px;
    z-index: 4;
    border: 1px solid #e5e5e5;
    text-align: left;
}

.liuxue-daohang2 {
    margin-right: 5px;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 3px;
}

.liuxue-ul {
    list-style: none;
    margin: 0;
}

.liuxue-li {
    background-color: #e8e8e8;
    margin: 0;
    padding: 10px 10px;
    font-size: 0.9rem;
}

.liuxue-lis {
    background-color: #fbfbfb;
    border-top: 1px solid #e5e5e5;
    margin: 0;
    padding: 10px 0;
    color: #333;
    padding-left: 42px;
    font-size: 0.9rem;
}