.bar {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 20%;
    top: 15px;
}

.logo {
    text-align: center;
    position: relative;
}

.Title {
    margin: 0 2em;
}

.title {
    display: block;
    color: #595757;
    font-size: 18px;
}

.rTitle {
    display: block;
    color: #999;
    font-size: 14px;
}