.aboutus {
    max-width: 1200px;
    margin: 0 auto;
}

.aboutus-lxwm {
    /*vertical-align: middle;*/
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
    line-height: 30px;
}

.aboutus-tx {
    /*vertical-align: middle;*/
    margin-bottom: 0;
    margin-right: 10px;
}

.aboutus-xs {
    /*vertical-align: middle;*/
    margin-bottom: 0;
    position: absolute;
    bottom: 0px;
    left: 180px;
}

.aboutus-img {
    width: 100%;
    margin-bottom: 0;
}

.aboutus-nr {
    padding-left: 142px;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.aboutus-khbz {
    text-align: left;
}

.aboutus-h2 {
    margin: 0;
    padding: 10px 0;
}

.aboutus-xx {
    padding-left: 192px;
    text-align: left;
    font-size: 16px;
    color: #333;
    line-height: 40px;
}

.aboutus-marginT {
    margin-top: 20px;
}

.aboutus-marginB {
    margin-bottom: 20px;
}

.aboutus-wx {
    padding-left: 120px;
    text-align: left;
}

.aboutus-wx-div {
    display: inline-block;
}

.aboutus-wx-img {
    display: block;
    margin: 30px 60px;
}

body {
    font-family: 微软雅黑;
}